@media only screen and (max-width: 426px) {
    html {
        font-size: 70%;
    }
    .calculator-grid {
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: minmax(120px, auto) repeat(5, 70px);
    }
}

@media only screen and (max-width: 321px) {
    html {
        font-size: 60%;
    }
    .calculator-grid {
        grid-template-columns: repeat(4, 60px);
        grid-template-rows: minmax(120px, auto) repeat(5, 60px);
    }
}